$form-btn-color: #ff8917;
$background-color: #fff;
#header {
   background-color: $form-btn-color;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .header-img {
      width: 110px;
      height: 110px;
   }
   .header-content {
      width: 350px;
      .header-content_number {
         color: $background-color;
         font-weight: 600;
         margin: 0 10px;
         svg {
            background-color: $background-color;
            margin: 0px 7px -3px;
         }
      }
      .form-btn_login {
         background-color: $background-color;
         border-color: $form-btn-color;
         color: $form-btn-color;
         margin: 0 10px;
         border-radius: 5px;
      }
      .form-btn_register {
         background-color: $background-color;
         color: $form-btn-color;
         border: none;
         margin: 0 0 0 10px;
         border-radius: 5px;
      }
   }
}
#content {
   background-color: $background-color;
   .banner {
      width: 100%;
      height: 100%;
   }
   .box-days {
      background-color: $background-color;
      width: 100%;
      .days {
         width: 50%;
         border: 1px solid $form-btn-color;
         margin: 20px auto;
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         .label {
            text-align: left;
         }
         .choose {
            width: 90%;
            padding: 5px 10px;
            margin: 10px 0;
         }
         .choose:focus {
            outline: none;
         }
         #btn {
            width: 90%;
            padding: 10px 10px;
            margin: 10px 0;
            background-color: $form-btn-color;
            border: none;
            font-size: 15px;
            color: $background-color;
            font-weight: 500;
            cursor: pointer;
         }
      }
   }
   .why-choose {
      margin: 70px auto;
      padding: 0 50px;
      width: 100%;
      .title {
         text-align: center;
         font-size: 30px;
         span {
            color: $form-btn-color;
         }
      }
      .wrap {
         display: flex;
         justify-content: space-between;
         .details {
            display: flex;
            align-items: center;
            width: 300px;
            .svg-icon {
               width: 80px;
               height: 80px;
               margin-right: 10px;
            }
            div > h5 {
               font-size: 18px;
               margin: 0;
               font-weight: 600;
            }
         }
      }
   }
   .popular {
      background-color: #fafafa;
      .container {
         width: 60%;
         margin: 30px auto;
         .title {
            text-align: center;
         }
         .row {
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            .card {
               .card-title {
                  text-align: center;
               }
               img {
                  border-radius: 5px;
               }
            }
         }
      }
   }
   .hot-deal {
      background-color: #fafafa;
      cursor: pointer;
      .container {
         margin: 70px auto;
         width: 100%;
         .title {
            text-align: center;
            font-size: 30px;
         }
         .box {
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            gap: 40px;
            .card {
               box-shadow: 2px 4px 5px rgb(0 0 0 / 50%);
               width: 370px;
               border-radius: 5px;
               img {
                  width: 100%;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
               }
               p {
                  font-weight: bold;
                  height: 48px;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  -webkit-text-overflow: ellipsis;
                  text-overflow: ellipsis;
                  margin: 10px;
                  font-size: 16px;
               }
               div {
                  margin: 10px;
                  display: flex;
                  font-size: 16px;
                  span:first-child {
                     flex-shrink: 1;
                     width: 70px;
                  }
                  span:last-child {
                     color: $form-btn-color;
                  }
               }
               .price {
                  display: block;
                  margin: 10px 10px 40px;
                  font-size: 26px;
                  color: $form-btn-color;
                  font-weight: bold;
               }
            }
         }
      }
   }
   .memberShipBox {
      margin: 30px auto;
      .container {
         margin-right: auto;
         margin-left: auto;
         padding-left: 30px;
         padding-right: 30px;
         .row {
            display: flex;
            background: #fafafa;
            justify-content: center;
            align-items: center;
            padding: 25px 0;
            .box-left {
               img {
                  width: 290px;
               }
            }
            .box-right {
               margin: 0 70px;
               .title {
                  margin-bottom: 15px;
                  font-size: 24px;
                  font-weight: 700;
               }
               .content-bold {
                  font-weight: 600;
               }
               .membership-btn {
                  display: flex;
                  align-items: center;
                  .btn-orange {
                     color: $background-color;
                     background-color: $form-btn-color;
                     border: none;
                     border-radius: 5px;
                     padding: 10px 10px;
                     font-size: 15px;
                     cursor: pointer;
                  }
                  .block {
                     margin-left: 15px;
                     .semibold {
                        margin-bottom: 0;
                        color: #8c8c8c;
                     }
                     .bold {
                        background: 0 0;
                        border: none;
                        padding: 0;
                        color: $form-btn-color;
                        font-weight: bold;
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }
   }
   .appbox {
      background-image: url("https://statics.vntrip.vn/images/appBox-bg.jpg");
      background-repeat: no-repeat;
      background-position: 50%;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 50px 0 0;
      background-attachment: fixed;
      .container {
         display: flex;
         align-items: center;
         margin: 0 auto;
         padding: 0 15px;
         .appbox__iphone {
            padding-left: 30px;
            img {
               width: 270px;
            }
         }
         .appbox__content {
            width: 490px;
            margin-left: 125px;
            .bold {
               font-size: 40px;
               margin-bottom: 15px;
               font-weight: 700;
            }
         }
         .appbox__logo {
            display: flex;
            margin-top: 50px;
            a {
               img {
                  width: 180px;
                  margin-right: 30px;
               }
            }
         }
      }
   }
}
#footer {
   background-color: $background-color;
}
