// for all
.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
main.ant-layout-content {
   background-color: #fff;
}
// slide
.slide {
   position: relative;
   .slide__img {
      width: 100%;
      display: block;
   }
}
// searchBox
.searchBox {
}
// reasonCombo
.reasonCombo {
   margin-top: 70px;
   margin-bottom: 40px;
   .container {
      .reasonComboTitle {
         text-align: center;
         margin-bottom: 24px;
         .semibold {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
            .yellow {
               color: #ff8917;
            }
         }
      }
      .reasonComboContent {
         .reasonComboItems {
            display: flex;
            align-items: center;
            padding: 0 16px;
            .img {
               padding-right: 17px;
            }
            .text {
               .title {
                  font-size: 18px;
                  font-weight: 600;
                  color: #262626;
                  padding: 0;
                  border: none;
               }
               p {
                  font-size: 14px;
                  color: #595959;
               }
            }
         }
      }
   }
}
// hotDeal
.hotDeal {
   padding: 50px 0 30px;
   background: #fafafa;
   .container {
      .text-center {
         margin-bottom: 25px;
         font-size: 24px;
         font-weight: 700;
         text-align: center;
      }
      .listDeal {
         .listDeal__item {
            background-color: #fff;
            border-radius: 5px;
            height: 400px;
            box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
            .dealItem {
               color: #000;
               .dealItem__img {
                  img {
                     width: 100%;
                     height: 100%;
                     border-top-left-radius: 5px;
                     border-top-right-radius: 5px;
                  }
               }
               .dealItem__cont {
                  padding: 15px;
                  .dealItem__title {
                     height: 48px;
                     display: -webkit-box;
                     -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     -webkit-text-overflow: ellipsis;
                     text-overflow: ellipsis;
                     margin-bottom: 10px;
                     font-size: 16px;
                     font-weight: 700;
                  }
                  .dealItem__type {
                     display: flex;
                     margin-bottom: 5px;
                     span:first-child {
                        width: 70px;
                        margin-right: 5px;
                     }
                     span:last-child {
                        width: calc(100% - 70px);
                        white-space: nowrap;
                        overflow: hidden;
                        -webkit-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        color: #ff8917;
                     }
                  }
                  .dealItem__price {
                     font-size: 26px;
                     margin-top: 10px;
                     color: #ff8917;
                     font-weight: 700;
                  }
               }
            }
         }
      }
   }
}
// memeberShipBox
.memberShipBox {
   padding: 50px 0;
   .container {
      .row {
         background: #fafafa;
         padding: 25px 0;
         display: flex;
         align-items: center;
         .membershipBox__img {
            display: flex;
            justify-content: flex-end;
            padding: 15px 70px 15px 0;
            img {
               width: 290px;
            }
         }
         .memebershipBox_cont {
            .bold {
               margin-bottom: 15px;
               font-size: 24px;
               font-weight: 700;
            }
            .semibold {
               font-size: 15px;
               margin-bottom: 0;
               font-weight: 600;
               margin-top: 0;
            }
            .mb0 {
               margin-bottom: 0;
            }
            .membershipBox__btn {
               display: flex;
               align-items: center;
               margin-top: 15px;
               .ant-btn {
                  color: #fff;
                  background-color: #ff8917;
                  border-color: #ff8917;
                  font-weight: 600;
                  font-size: 15px;
                  border-radius: 5px;
                  height: 40px;
               }
               .block {
                  margin-left: 15px;
                  display: block;
                  .semibold {
                     margin-bottom: 0;
                     color: #8c8c8c;
                  }
                  .outline-btn {
                     color: #ff8917;
                     font-weight: 600;
                     background: 0 0;
                     border: none;
                     padding: 0;
                  }
               }
            }
         }
      }
   }
}
// appBox
.appBox {
   background-image: url("https://statics.vntrip.vn/images/appBox-bg.jpg");
   background-repeat: no-repeat;
   background-position: 50%;
   -webkit-background-size: cover;
   background-size: cover;
   padding: 50px 0 0;
   background-attachment: fixed;
   .container {
      .row {
         display: flex;
         align-items: center;
         .appBox__iphone {
            padding-left: 30px;
            img {
               width: 270px;
            }
         }
         .appBox__content {
            .bold {
               font-size: 40px;
               margin-bottom: 15px;
               font-weight: 700;
            }
            p {
               margin-top: 0;
            }
            .appBox__logo {
               display: flex;
               margin-top: 50px;
               a {
                  margin-right: 15px;
                  img {
                     width: 180px;
                  }
               }
            }
         }
      }
   }
}
@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}
@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}
@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
