p {
   margin: 0;
}

.footer {
   background-color: #ff8917;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      .footer__copyright {
         color: #fff;
         font-size: 12px;
      }
      .footer__social {
         a {
            color: #fff;
            font-size: 12px;
            margin: 0px 5px;
            svg {
               margin-right: 5px;
            }
         }
      }
   }
}
@media (min-width: 768px) {
   .footer {
      .container {
         width: 750px;
      }
   }
}
@media (min-width: 992px) {
   .footer {
      .container {
         width: 970px;
      }
   }
}
@media (min-width: 1200px) {
   .footer {
      .container {
         width: 1170px;
      }
   }
}
